/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
#slideshow {
    margin: 50px auto;
    position: relative;
    height: 70vh;
    padding: 10px;
    text-align: center;
  
}

    #slideshow > div {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
    }

*.img-frame {
    display: block;
    background: transparent;
    padding: 8px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px #999;
}
