/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


#slideshow {
  
    position: relative;
    height: 70vh;
    padding: 10px;
    text-align: center;
    
}

    #slideshow > div {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
    }

*.img-frame {
    display: block;
    background: transparent;
    padding: 8px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px #999;
}
*.ticker {
    margin: 0 auto;
    padding: 10px;
    width: 600px;
    height:20vh;
    text-align: left; 
    position: relative;
   
    background-color: #ffffff;
   
}

*.ticker ul {
    width: 100%;
    position: relative;
}

*.ticker ul li {
    width: 100%;
    display: none;
}

