@page
@model IndexModel
@{
    ViewData["Title"] = "FamilyView";
}f


<div class="text-center">
    @*<meta http-equiv="refresh" content="10">*@
    <h1 class="display-4">Welcome</h1>

    <p style="border: none; width: 100%;">
        <img id="blobImg" src="" style="max-height: 80vh;max-width: 80vh;" />
        <div id="msgs"></div>
    </p>
  



    <script>
        var imgs = @IndexModel.JavaScriptConvert.SerializeObject(await Model.getBlobUris());
        var txts = @IndexModel.JavaScriptConvert.SerializeObject(await Model.getTexts());

            setInterval(function () {
                var i = Math.floor(Math.random() * imgs.length);
                var j = Math.floor(Math.random() * txts.length);
                document.getElementById('blobImg').src = imgs[i];
                document.getElementById('msgs').innerText = txts[j];
        }, 5000);


    </script>




</div>

