@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
   

    <div class="text-center">

        <h1>Welkom bij SocialTV</h1>
     

        @if (Model.BoxStatus != "Activated")
        {
            <h2>Activatie code: @Model.ActivationCode</h2>

            <div id="ActivationCode" class="ActivationCode">
                @foreach (char c in Model.ActivationCode){
                    string uri = "https://codithtc.blob.core.windows.net/public/nl/" + c + ".png";
                 
                <img style="height:120px;margin:25px;border:double;padding:10px" src="@uri"/>
                }
            </div>

            <script>
             
                window.setTimeout(myFunction, 3000);
                function myFunction() {
                  window.location.reload(true);
                }
            </script>
        }
        else
        {
            <div id="slideshow">
                @foreach (var item in await Model.GetBlobUris())
                {
                    <div><img src="@item" class="image-frame" style="max-height:100%;max-width:100%;" /></div>
                }

            </div>
            <div id="ticker-slide" class="ticker" style="height:30vh;">
                <ul>
                    @foreach (var item in await Model.GetTexts())
                    {
                        <li>@item</li>
                    }

                </ul>
            </div>


        }
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script>
            var initBlobCount = -1;
            var initTxtCount = -1;

            function getData() {
                $.ajax({
                       url: '/?handler=GetData'
                       
                    })
                    .done(function(result) {

                        var test = result.split(";");
                        if (initBlobCount == -1 || initTxtCount == -1) {
                            initBlobCount = test[0];
                            initTxtCount = test[1];
                        }
                        else if (test[0] > initBlobCount || test[1] > initTxtCount) {
                          
                                window.location.reload(true);
                               
                        }
                                        });
                                };

            $(document).ready(function () {
                $(function () {

                    $.simpleTicker($("#ticker-slide"), { delay : 10000,'effectType': 'slide' });

                    
                    $("#slideshow > div:gt(0)").hide();
                    
                    setInterval(function () {
                            if ($("#slideshow > div:gt(0)").length >= 1) {
                            $('#slideshow > div:first')
                                .fadeOut(1000)
                                .next()
                                .fadeIn(1000)
                                .end()
                                .appendTo('#slideshow');}
                            getData();
                        }, 30000);
                        
                });
            });




        </script>

    </div>




