@page
@model IndexModel
@{
    ViewData["Title"] = "FamilyView";
}


<div class="text-center">
   
    <h1>Welcome</h1>

   

     
        <div id="slideshow">
            @foreach (var item in await Model.getBlobUris())
            {
                <div><img src="@item" class="image-frame" style="max-height:100%;max-width:100%;"/></div>
            }

        </div>
        <div id="msgs"></div>
      
        <script>
            /*Get the messages from blob and show random*/
            var txts = @IndexModel.JavaScriptConvert.SerializeObject(await Model.getTexts());
            setInterval(function () {
                var j = Math.floor(Math.random() * txts.length);
                document.getElementById('msgs').innerText = txts[j];
            }, 5000);

            /*Add fading of images created in the above div*/
            window.addEventListener("DOMContentLoaded", function(e) {
                    $("#slideshow > div:gt(0)").hide();

                    setInterval(function() {
                        $('#slideshow > div:first')
                        .fadeOut(1000)
                        .next()
                        .fadeIn(1000)
                        .end()
                        .appendTo('#slideshow');
                    },  30000);

            }, false);
        </script>
</div>




