@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All information is stored in Europe (Amsterdam) and not shared with 3rd parties nor with other users.</p>
